/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f9f9f9;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
  }
  
  /* Recipe Filters */
  .recipe-filters {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .recipe-filters select,
  .recipe-filters button {
    padding: 12px;
    font-size: 1rem;
    margin: 10px;
    border-radius: 5px;
  }
  
  .recipe-filters button {
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .recipe-filters button:hover {
    background-color: #e55d00;
  }
  
  /* Recipe Grid */
  .recipe-list h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .recipe-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .recipe-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .recipe-card h3 {
    padding: 15px;
    font-size: 1.4rem;
    color: #333;
  }
  
  .recipe-card p {
    padding: 0 15px;
    font-size: 1rem;
    color: #777;
  }
  