.page_not_found {
  .page_not_found_main {
    width: 100%;
    text-align: center;
    margin-top: 150px;

    img {
      width: 400px;
      height: 400px;
    }
  }
}

@media screen and (max-width: 767px) {
  .page_not_found {
    .page_not_found_main {
      margin-top: 150px;

      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}
