@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #f6f7fb;
  --white-color: #fff;
  --black-color: #18191a;
  --red-color: #e74c3c;
}
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}
body.dark {
  --primary-color: #242526;
  --white-color: #18191a;
  --black-color: #fff;
  --red-color: #e74c3c;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.container .clock {
  display: flex;
  height: 55vh;
  width: 55vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 25px 45px rgba(0, 0, 0, 0.1);
  position: relative;
}
.clock label {
  position: absolute;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(var(--i) * (360deg / 12)));
}
.clock label span {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
  transform: rotate(calc(var(--i) * (-360deg / 12)));
}
.container .indicator {
  position: absolute;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
}
.indicator::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 100;
  background: var(--black-color);
  border: 4px solid var(--red-color);
}
.indicator .hand {
  position: absolute;
  height: 130px;
  width: 4px;
  bottom: 0;
  border-radius: 25px;
  transform-origin: bottom;
  background: var(--red-color);
}
.hand.minute {
  height: 120px;
  width: 5px;
  background: var(--black-color);
}
.hand.hour{
  height: 100px;
  width: 8px;
  background: var(--black-color);
}
.mode-switch {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 400;
  display: inline-block;
  color: var(--white-color);
  background: var(--black-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/** Responsive Design */
@media (min-width: 992px) and (max-width: 1199px) {
  .container .clock {
    width: 60vw;
    height: 60vw;
  }
  .clock label span {
    font-size: 2rem;
  }
  .mode-switch {
    font-size: 2rem;
    font-weight: 600;
    width: 20%;
    text-align: center;
    padding: 10px 20px;
  }
  .hand.hour {
  height: 160px;
  }
  .hand.minute {
    height: 180px;
  }
.hand.second {
    height: 150px;
  }

  .mode-switch {
    font-size: 14px;
    padding: 6px 12px;
  }
}


@media (min-width: 768px)  and (max-width: 991px){
  .container .clock {
    width: 60vw;
    height: 60vw;
  }

  .clock label span {
    font-size: 1.8rem;
  }
  .hand.hour {
    height: 160px;
    }
    .hand.minute {
      height: 180px;
    }
  .hand.second {
      height: 150px;
    }
  .mode-switch {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container .clock {
    width: 70vw;
    height: 70vw;
  }

  .clock label span {
    font-size: 1.5rem;
  }

  .hand.hour {
    width: 6px;
    height: 110px;
  }

  .hand.minute {
    width: 4px;
    height: 130px;
  }

  .hand.second {
    width: 3px;
    height: 100px;
  }

  .mode-switch {
    font-size: 1.2rem;
    padding: 6px 12px;
  }
}
@media (max-width: 480px) {
  .container .clock {
    width: 70vw;
    height: 70vw;
  }

  .clock label span {
    font-size: 1.5rem;
  }

  .hand.hour {
    width: 6px;
    height: 70px;
  }

  .hand.minute {
    width: 4px;
    height: 90px;
  }

  .hand.second {
    width: 3px;
    height: 60px;
  }

  .mode-switch {
    font-size: 1.2rem;
    padding: 6px 12px;
  }
}