* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body {
	display: flex;
	flex-direction: column;
}


/******* HEADER *******/
header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 10%;
}
.hint-btn {
	position: absolute;
	right: 0;
}
/******* MAIN CONTENT *******/
main {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-grow: 1;
}
.question-answer-wrapper{
	display: flex;
	justify-content: space-around;
	align-items: center;	
	flex-direction: column;
	width: 100%;
	height: 90%;
}
form {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	flex-direction: column;
	margin: 1rem 0;
}
.question-wrapper, .answer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.question {
	padding: 1rem;
}
.begin-quiz .answer-wrapper {
	flex-direction: row;
	flex-basis: 30%;
}
.answer-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}
.begin.answer-wrapper {
	flex-direction: row;
}
.answer-btn {
	width: 90%;
	margin: 0.25rem;
}
.submit-btn:disabled,
.continue-btn:disabled,
.submit-btn,
.continue-btn,
.retry-btn {
	width: 90%;
	border: 3px solid rgba(255,255,255,0.5);
	flex-align: center;
	justify-content: center;
	opacity: 0.25;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	font-size: 1.75rem;
}
.submit-btn,
.continue-btn,
.retry-btn {
	border: 3px solid rgba(255,255,255,1);
	background: rgba(0,255,0,0.5);
	opacity: 1;
}
.retry-btn {
	width: auto;
}
.submit-btn-landscape {
	display: none;
}
.submit-btn-portrait {
	display: flex;
}
.answer-btn.pass {
	border: 1px solid #0F0;
}
.answer-btn.selected-answer.fail {
	border: 1px solid #F00;
}
.answer-boolean {
	display: block;
}
.results-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/******* FOOTER *******/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.progress-bar {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	min-height: 10px;
}
.progress-indicator {
	width: 10%;
	height: 10px;
}

/******* MEDIA QUERIES / RESPONSIVE *******/

/* Small devices (phones) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (phones and landscape) */
@media only screen and (max-width: 600px) and (orientation:landscape) {
	header {
		flex-basis: 5%;
	}
	.begin.question-answer-wrapper {
		flex-direction: column;
	}
	.begin.question-answer-wrapper {
		flex-direction: column;
	}
	.question-answer-wrapper {
		flex-direction: row;
	}

	.submit-btn-landscape {
		display: flex;
	}
	.submit-btn-portrait {
		display: none;
	}
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Medium devices (768px and up and landscape) */
@media only screen and (min-width: 768px) and (orientation:landscape) {
	.begin.question-answer-wrapper {
		flex-direction: column;
	}
	.question-answer-wrapper {
		flex-direction: row;
	}
	.submit-btn-landscape {
		display: none;
	}
	.submit-btn-portrait {
		display: flex;
	}
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
	header {
		justify-content: center;
	}
	.begin-quiz.question-answer-wrapper {
		flex-direction: column;
	}
	.question-answer-wrapper {
		flex-direction: row;
	}
	.begin.question-answer-wrapper {
		flex-direction: column;
	}
	.submit-btn-landscape {
		display: none;
	}
	.submit-btn-portrait {
		display: flex;
	}
} 
