
/******* HELPERS *******/
* .hide, * .hide > * {
	display: none;
}
.pass {
	background: #4d914c;
}
.fail {
	background: #d15454;
}

/******* BASE STYLING *******/

* {
	color: #FEFEFE;
	font-family: 'Share Tech Mono', monospace;
}
button {
	border-radius: 10px;
	border: 3px solid transparent;
	padding: 0.5rem 1rem;
	background: rgba(0,0,0,0.5);
}
button, input[type="submit"] {
	cursor: pointer;
}
/******* HEADER *******/

html {
	background: #000;
}
body {
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
header {
	background: rgba(0,0,0,0.5);
}
.title {
	margin-left: 1rem;
}
.sub-title {
	font-size: 1rem;
	color: #DDD;
	margin-left: 1rem;
}
/******* MAIN CONTENT *******/
.quiz-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	height: 90%;
}
.question-wrapper {
	border-radius: 10px;
}
.question {
	padding: 3rem;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
}
.code pre {
	font-size: 1.25em;
	color: #22FF44;

}
.question, .start-quiz, .quit-quiz {
	font-size: 1.75em;
}

.start-quiz {
	background: rgba(0,255,0,0.2);
}
.start-quiz:hover {
	background: rgba(0,255,0,0.4);
	border: 3px solid rgba(255,255,255,1);
}
.quit-quiz {
	background: rgba(255,0,0,0.2);
}
.quit-quiz:hover {
	background: rgba(255,0,0,0.4);
	border: 3px solid rgba(255,255,255,1);
}
.answer-btn {
	color: #fefefe;
	height: auto;
	cursor: pointer;
	font-size: 1.5rem;
	background: rgba(0,0,0,0.5);
	border: 3px solid rgba(255,255,255,0.2);
}
button {
	cursor: pointer;
}
.answer-btn.selected {
	background: rgba(255,255,255,0.15);
	border: 3px solid #71B6E3;
}
.answer-btn.selected.pass {
	background: #4d914c;
}
.answer-btn.selected.fail {
	background: rgba(255,0,0,0.5);
	border: 3px solid #71B6E3;
}
.dim-answer {
	opacity: 0.5;
}
.answer-btn.pass {
	background: rgba(0,255,0,0.5);
	border: 3px solid #00FF00;
}
.submit-btn, .continue-btn, .retry-btn{
	width: 90%
	margin: 0 auto;
	border-radius: 10px;
}


.continue-btn {
	background: rgba(247, 230, 116, 0.75);
}

/******* FOOTER *******/

.progress-bar {
	background: rgba(0,0,0,0.75);
}

.failures-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.failure {
	padding: 0.25rem 1rem;
	background: rgba(0,0,0,0.5);
}


.submit-btn, .continue-btn {
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	font-size: 1.75rem;
}

/******* FEEDBACK *******/
.results-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-grow: 1;
}
.quiz-end-score {
	display: flex;
	font-size: 2rem;
	text-align: center;
}
.quiz-end-feedback {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	color: #CCC;
	width: 90%;
	margin: 1rem;
}
.quiz-end-feedback-p {
	margin: 1rem;
}
.category {
	display: flex;
	border-radius: 10px;
	padding: 0.25rem 1rem;
	font-size: 1.5rem;
	background: #d15454;
	margin: 0.5rem;
	padding: 0.25rem;
}
.quiz-end-categories {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.failures {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.category {

}