/******* RESET / BASE STYLING *******/

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body {
	display: flex;
	flex-direction: column;
}

/******* HELPERS *******/
.hide {
	display: none !important;
}
.pass {
	background: #4d914c;
}
.fail {
	background: #d15454;
}
/******* HEADER *******/
header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #DDD;
	flex-basis: 10%;
}
.hint-btn {
	position: absolute;
	right: 0;
}
/******* MAIN CONTENT *******/
main {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-grow: 1;
}
.question-answer-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;	
	flex-direction: column;
	width: 90%;
	height: 90%;
	background: #DDD;
}
.question-wrapper, .answer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}
.question-wrapper {
	background: #CCC;
}
.begin-quiz .answer-wrapper {
	flex-direction: row;
	flex-basis: 30%;
}
.answer-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	background: #BBB;
}
.answer-btn {
	margin: 0.25rem;
}
.submit-btn {

}
.submit-btn-landscape {
	display: none;
}
.submit-btn-portrait {
	display: flex;
}
.answer-btn.pass {
	border: 1px solid #0F0;
	margin: 0.25rem;
	padding: 0.5rem;
}
.answer-btn.selected-answer.fail {
	border: 1px solid #F00;
	margin: 0.25rem;
	padding: 0.5rem;
}
.answer-boolean {
	display: block;
}
.results-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/******* FOOTER *******/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.progress-bar {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	min-height: 10px;
	background: #DDD;
}
.progress-indicator {
	width: 20%;
	height: 10px;
}

/******* MEDIA QUERIES / RESPONSIVE *******/

/* Small devices (phones) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (phones and landscape) */
@media only screen and (max-width: 600px) and (orientation:landscape) {
	header {
		flex-basis: 5%;
	}
	.begin-quiz.question-answer-wrapper {
		flex-direction: column;
	}
	.question-answer-wrapper {
		flex-direction: row;
	}
	.question-wrapper, .answer-wrapper {

	}

	.submit-btn-landscape {
		display: flex;
	}
	.submit-btn-portrait {
		display: none;
	}
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Medium devices (768px and up and landscape) */
@media only screen and (min-width: 768px) and (orientation:landscape) {
	.begin-quiz.question-answer-wrapper {
		flex-direction: column;
	}
	.question-answer-wrapper {
		flex-direction: row;
	}
	.question-wrapper, .answer-wrapper {

	}

	.submit-btn-landscape {
		display: none;
	}
	.submit-btn-portrait {
		display: flex;
	}
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
	header {
		justify-content: center;
	}
	.begin-quiz.question-answer-wrapper {
		flex-direction: column;
	}
	.question-answer-wrapper {
		flex-direction: row;
	}
	.question-wrapper, .answer-wrapper {

	}

	.submit-btn-landscape {
		display: none;
	}
	.submit-btn-portrait {
		display: flex;
	}
} 
