body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color:#333333;
}
.calendar{
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 0 30px #222222;
    overflow: hidden;
    width: 300px;
    color: white;
    padding: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.btn{
    cursor: pointer;
}
#month-year{
    font-weight: bold;
    font-size: 20px;
}
.weekdays, .days{
    display: flex;
    flex-wrap: wrap;
}
.days{
    height: 240px;
}
.weekdays div, .days div{
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
.days div{
    cursor: pointer;
    transition: background-color 0.3s;
}
.days div:hover{
    background-color: white;
    color: orangered;
}
.days .today{
    background-color: orangered;
    columns: white;
}
.days .fade{
    color: #555;
}
