.home {
  display: grid;
  grid-template-columns: 17% 83%;
  justify-content: center;

  .home_main {
    .bg_color {
      width: 100%;
      height: 160px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #536def;
    }
    .home_items {
      display: flex;
      gap: 20px;
      padding: 20px 25px;
      margin-top: -80px;
    }

    .chart_sec {
      display: flex;
      // gap: 20px;
      padding: 20px 25px;
      box-sizing: border-box;
    }

    .table {
      margin-top: 20px;

      padding: 20px 25px;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

      .title {
        padding: 0px 0px 15px;
        color: gray;
      }
    }
  }
}
